@charset "ISO-8859-1";

html{
	background-color: #F9E79F;
	margin:10px;

}
header{
	background-color: #F4D03F;
	border-radius: 10px;
}

.head{
	display: inline-table;
	width: 33%;
	text-align: center;
}


h2{
	text-align: center;
}

#basic{
	margin-left: 20%;
	padding: 5px;
}


.namecontent{
	display: inline-block;

}

.contenttable{
	margin-left: 25%;
	padding: 5px;
}

.contentcontenttable{
	padding: 10px;
}

a{
	text-decoration: none;
	color: #2593EE;
}
#boton{
	position: relative;	
	text-align: center;
 }

footer{
	background: #A04000;
	color:white;
	text-align: center;
	margin-top: 5%;
   	left:0px;
   	bottom:0px;
   	height:30px;
   	width:100%;
}