@charset "ISO-8859-1";

html{
	margin: 10px;
	background: #F9E79F;
	position: relative;
}

body{
	background: #F9E79F;
}

header{
	background: #F4D03F;
	border-radius: 10px;
}

.row{
	text-align: center;
}

.register{
	margin-top: 1%;
}

main{
	margin-top: 8%;
}

#bananas{
	width: 15%;
}

.alinear{
	padding-right: 1%;
	vertical-align: text-top;
}

.intro_user{
	padding: 1%; 
}

.password{
	text-decoration: underline;
	font-size: 1.1em;
}

a{
	text-decoration: none;
	color: #2593EE;
}

footer{
	background: #A04000;
	color: white;
	position: fixed;
   	left: 0px;
   	bottom: 0px;
}